# Archivos descargados de Instagram
data/raw/

# Directorio temporal
temp_instagram_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/

# Archivos de configuración IDE
.idea/
.vscode/
.vs/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env