################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/instagram-job-scraper/copilot-chat/2decfad8/sessions
/.vs/instagram-job-scraper/CopilotIndices/17.14.939.21063
/.vs/instagram-job-scraper/FileContentIndex
