################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/instagram-job-scraper/copilot-chat/2decfad8/sessions
